/* Mixin for underlined link styles */
/* Mixin for plain link styles */
.text {
  font-family: "Nunito", sans-serif; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  clear: both;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  width: 100%;
  padding: 0 10%;
  margin: 1rem 0 0; }
  .form .single {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    width: 100%;
    padding: 0;
    margin: 0; }
    .form .single input {
      width: 100%;
      font-size: 1rem;
      color: #4a4a4a;
      margin-bottom: 1rem;
      padding: .5rem 0;
      text-indent: .5rem;
      border: 1px solid #4a4a4a;
      outline-color: #d95000; }
    .form .single span {
      color: #d95000;
      font-size: .8rem; }
  .form .select {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%; }
  .form select {
    position: relative;
    width: 100%;
    height: 2.25rem;
    color: #4a4a4a;
    font-size: 1rem;
    margin: 0 0 1rem 0;
    padding: .5rem;
    background-color: white;
    border: 1px solid #4a4a4a;
    border-radius: 0;
    outline-color: #d95000; }
  .form .industry {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-image: url("../images/arrow-down.svg");
    background-size: auto;
    background-position: 100% 50%;
    background-repeat: no-repeat; }
  .form .help {
    height: 6.25rem; }
  .form .double {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    width: 100%;
    padding: 0;
    margin: 0; }
    .form .double textarea {
      width: 100%;
      color: #4a4a4a;
      font-size: 1rem;
      height: 5.1rem;
      padding: .5rem 0;
      text-indent: .5rem;
      border: 1px solid #4a4a4a;
      outline-color: #d95000; }
  .form button {
    width: 60%;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    text-align: center;
    color: white;
    display: block;
    background-color: #d95000;
    padding: .5rem 1rem;
    border-radius: 1rem;
    margin: 1rem auto 2rem;
    cursor: pointer; }
    .form button:hover {
      background-color: #4a4a4a; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin: 0 auto 2rem; }
  .contact .map {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    border: 1px solid #4a4a4a;
    margin-bottom: 1rem; }
    .contact .map img {
      display: block;
      width: 100%;
      max-width: 360px; }
  .contact figure {
    padding: 1rem 1rem 6rem;
    position: relative; }
    .contact figure:last-of-type {
      padding-bottom: 3rem; }
    .contact figure a {
      text-decoration: none;
      color: #4a4a4a; }
      .contact figure a img {
        float: left;
        width: 2rem;
        margin-right: 1rem; }
      .contact figure a figcaption {
        float: left;
        font-family: "Nunito", sans-serif; }
        .contact figure a figcaption:hover {
          color: #d95000; }

@media (min-width: 700px) {
  .form {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .form .single {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 45%;
              flex: 1 0 45%; }
      .form .single:nth-of-type(1), .form .single:nth-of-type(3), .form .single:nth-of-type(7) {
        margin-right: 5%; }
    .form .select {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 45%;
              flex: 1 0 45%;
      margin-right: 5%; }
    .form .double {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 45%;
              flex: 1 0 45%; } }
@media (min-width: 900px) {
  .form .single {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 30%;
            flex: 1 0 30%; }
    .form .single:nth-of-type(3) {
      margin-right: 0; }
    .form .single:nth-of-type(1), .form .single:nth-of-type(2), .form .single:nth-of-type(4), .form .single:nth-of-type(7) {
      margin-right: 2.5%; }
  .form .select {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 30%;
            flex: 1 0 30%;
    margin-right: 2.5%; }
  .form .double {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 64%;
            flex: 1 0 64%; } }
@media (min-width: 900px) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .contact .map {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      margin-right: 2rem; }
      .contact .map img {
        width: 100%;
        max-width: 400px; }
    .contact figure {
      margin-left: 2rem;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto; }
      .contact figure a {
        text-decoration: none;
        color: #4a4a4a; }
        .contact figure a img {
          float: left;
          width: 2rem;
          margin-right: 1rem; }
        .contact figure a figcaption {
          float: left;
          font-family: "Nunito", sans-serif; } }

/*# sourceMappingURL=connect.css.map */