$gray: #4a4a4a;
$accent: #d95000;
$overlay: rgba(217, 80, 0, .75);

$body: 'Nunito', sans-serif;
$display: 'Libre Baskerville', serif;

/* Mixin for underlined link styles */
@mixin under-links {
  a {
    color: #4a4a4a;
    text-decoration: underline #d95000 solid;
  }
  a:hover {
    color: #d95000;
    text-decoration: underline #4a4a4a solid;
  }
}

/* Mixin for plain link styles */
@mixin plain-links {
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}

/* Super basic normalize */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  background-color: white;
  height: 6rem;
  border-bottom: 1px solid $accent;
}

h1 { 
  display: block;
  float: left;
  width: 49.5%;
  a {
    text-decoration: none;
    img {
      width: 13rem;
      padding: 1rem 0 0 1rem;
    }
  }
}

nav {
  display: block;
  float: left;
  width: 49.5%;
  right: 0;
  .menu {
    position: relative;
    z-index: 5;
    img {
      position: relative;
      z-index: 5;
      max-width: 5rem;
      display: block;
      padding: 1rem;
      margin-left: auto;
    } 
  }
  ul {
    position: absolute;
    top: 0;
    right: 0;
    width: 14rem;
    height: 100vh;
    z-index: 2;
    background-color: $accent;
    margin-left: auto;
    border-left: 1px solid $gray;
    list-style: none;
    margin: 0;
    padding: 5rem 0 0;
    li {
      line-height: 3rem;
      font-family: $body;
      font-size: 1.25rem;
      display: inline-block;
      text-align: right;
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      a {
        text-decoration: none;
        display: inline-block;
        color: white;
        width: 100%;
        box-sizing: border-box;
        padding: .75rem 2rem .75rem;
        &:hover {
          color: $gray;
          background-color: rgba(255, 255, 255, .5);
        }
      }
    }
  }
}

/* Hide the Menu */
.hidden {
  display: block;
  right: -100%;
}

/* Show the Menu */
.shown {
  display: block;
  right: 0%;
  animation: slide .5s ease-out;
}

@keyframes slide {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

/* Classes for blurring content on menu out */

@keyframes fade {
  0% {
    opacity: 1;
    filter: blur(0px);
  }
  100% {
    opacity: .25;
    filter: blur(3px);
  }
}

.fade {
  animation: fade .5s linear;
}

.blur {
  opacity: .25;
  filter: blur(3px);
}

.what {
  background: linear-gradient($overlay, $overlay), url('../images/index-what-600.jpg');
  background-size: cover;
  background-position: center;
  margin: 6rem 0 0;
  @include plain-links;
  p {
    font-family: $display;
    font-size: 2rem;
    padding: 4rem 2rem 0;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px $gray;
  }
  h2 {
    font-family: $body;
    font-size: 1rem;
    padding: 2rem 2rem 4rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px $gray;
  }  
}

.clients {
  text-align: center;
  @include plain-links;
  h2 {
    font-family: $body;
    font-size: 2rem;
    text-align: center;
    color: $accent;
    padding: 2rem;
  }
  figure {
    width: 70%;
    margin: 0 auto 1rem;
    border: 1px solid $gray;
    img {
      max-width: 100%;
    }
  }
  div {
    width: 60%;
    font-family: $body;
    font-size: 1rem;
    text-align: center;
    color: white;
    display: inline-block;
    background-color: $accent;
    padding: .5rem 1rem;
    border-radius: 1rem;
    margin: 1rem auto 2rem;
    &:hover {
      background-color: $gray;
    }
  }
}

.about {
  background: linear-gradient($overlay, $overlay), url('../images/index-about-600.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  @include plain-links;
  p {
    font-family: $display;
    font-size: 2rem;
    padding: 4rem 2rem 0;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px $gray;
  }
  h2 {
    font-family: $body;
    font-size: 1rem;
    padding: 2rem 2rem 4rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px $gray;
  }
}

.connect {
  text-align: center;
  @include plain-links;
  h2 {
    font-family: $body;
    font-size: 2rem;
    text-align: center;
    color: $accent;
    padding: 2rem 2rem 1rem;
  }
  figure {
    width: 70%;
    border: 1px solid $gray;
    height: 9rem;
    max-height: 15rem;
    margin: 3rem auto 0;
    @include under-links;
    img {
      width: 4rem;
      position: relative;
      top: -2rem;
      margin-bottom: -1rem;
    }
    figcaption {
      font-family: $body;
      font-size: 1rem;
    }
  }
  div {
    width: 60%;
    font-family: $body;
    font-size: 1rem;
    text-align: center;
    color: white;
    display: inline-block;
    background-color: $accent;
    padding: .5rem 1rem;
    border-radius: 1rem;
    margin: 2rem auto 2rem;
    &:hover {
      background-color: $gray;
    }
  }
}

footer {
  background-color: $accent;
  text-align: center;
  margin-top: 1rem;
  p {
    display: inline-block;
    font-family: $body;
    font-size: .8rem;
    color: white;
    padding: 1rem;
  }
  aside {
    img {
      width: 3rem;
      padding: .25rem .25rem 1rem;
    }
  }
}