/* Mixin for underlined link styles */
/* Mixin for plain link styles */
/* Super basic normalize */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 2;
  width: 100%;
  top: 0;
  background-color: white;
  height: 6rem;
  border-bottom: 1px solid #d95000; }

h1 {
  display: block;
  float: left;
  width: 49.5%; }
  h1 a {
    text-decoration: none; }
    h1 a img {
      width: 13rem;
      padding: 1rem 0 0 1rem; }

nav {
  right: 0;
  display: block;
  float: left;
  width: 49.5%; }
  nav .menu {
    position: relative;
    z-index: 5; }
    nav .menu img {
      position: relative;
      z-index: 5;
      max-width: 5rem;
      display: block;
      padding: 1rem;
      margin-left: auto; }
  nav ul {
    position: absolute;
    top: 0;
    right: 0;
    width: 14rem;
    height: 100vh;
    z-index: 2;
    background-color: #d95000;
    margin-left: auto;
    border-left: 1px solid #4a4a4a;
    list-style: none;
    margin: 0;
    padding: 5rem 0 0; }
    nav ul li {
      line-height: 3rem;
      font-family: "Nunito", sans-serif;
      font-size: 1.25rem;
      display: inline-block;
      text-align: right;
      width: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0; }
      nav ul li a {
        text-decoration: none;
        display: inline-block;
        color: white;
        width: 100%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: .75rem 2rem .75rem; }
        nav ul li a:hover {
          color: #4a4a4a;
          background-color: rgba(255, 255, 255, 0.5); }

/* Hide the Menu */
.hidden {
  display: block;
  right: -100%; }

/* Show the Menu */
.shown {
  display: block;
  right: 0%;
  -webkit-animation: slide .5s ease-out;
          animation: slide .5s ease-out; }

@-webkit-keyframes slide {
  0% {
    right: -100%; }
  100% {
    right: 0; } }

@keyframes slide {
  0% {
    right: -100%; }
  100% {
    right: 0; } }
/* Classes for blurring content on menu out */
@-webkit-keyframes fade {
  0% {
    opacity: 1; }
  100% {
    opacity: .25; } }
@keyframes fade {
  0% {
    opacity: 1; }
  100% {
    opacity: .25; } }
.fade {
  -webkit-animation: fade .6s linear;
          animation: fade .6s linear; }

.blur {
  opacity: .25; }

/* General Content Styles */
main {
  position: relative;
  margin-top: 6rem; }
  main h2 {
    font-family: "Libre Baskerville", serif;
    font-size: 2rem;
    color: white;
    width: 100%;
    text-align: center;
    background-color: #d95000;
    padding: 3rem 0;
    margin: 0; }
  main .hero {
    width: 100%; }
  main .text p {
    font-family: "Nunito", sans-serif;
    margin: 1rem; }

.cta {
  text-align: center; }
  .cta p {
    font-family: "Nunito", sans-serif;
    font-size: 1.25rem;
    text-align: left;
    margin: 1.5rem 1.5rem .5rem; }
  .cta div {
    width: 60%;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    text-align: center;
    color: white;
    display: inline-block;
    background-color: #d95000;
    padding: .5rem 1rem;
    border-radius: 1rem;
    margin: 1rem auto 2rem; }
    .cta div:hover {
      background-color: #4a4a4a; }

/* Footer Styles */
footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d95000;
  text-align: center;
  margin-top: 1rem; }
  footer p {
    display: inline-block;
    font-family: "Nunito", sans-serif;
    font-size: .8rem;
    color: white;
    padding: 1rem; }
  footer aside a {
    text-decoration: none; }
  footer aside a:hover {
    text-decoration: none; }
  footer aside img {
    width: 3rem;
    padding: .25rem .25rem 1rem; }

/* Header styles for screens over 700px */
@media (min-width: 700px) {
  header {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }

  h1 {
    width: auto;
    -ms-flex-item-align: start;
        align-self: flex-start; }

  nav {
    width: auto; }
    nav .menu {
      display: none; }
      nav .menu img {
        display: none; }
    nav ul {
      position: relative;
      width: 100%;
      height: auto;
      background-color: white;
      border-left: 0;
      padding: .5rem 1rem 0 2rem; }
      nav ul li {
        line-height: 1.25rem;
        float: left;
        color: #4a4a4a;
        font-size: 1.1rem;
        display: inline;
        width: auto; }
        nav ul li a {
          color: #4a4a4a;
          padding: .75rem 1.25rem .5rem; }
          nav ul li a:hover {
            color: #d95000;
            background-color: inherit; }

  /* Hide the Menu */
  .hidden {
    display: block;
    right: 0; }

  /* Show the Menu */
  .shown {
    display: block;
    right: 0%;
    -webkit-animation: none;
            animation: none; }

  .fade {
    -webkit-animation: none;
            animation: none; } }
/* General Content styles for screens over 700px */
@media (min-width: 700px) {
  main h2 {
    text-align: left;
    padding: 3rem 0 3rem 2rem; }
  main .hero {
    padding: 0 2.5rem 1rem 2rem;
    width: 55%;
    float: right;
    margin-top: -6rem;
    max-width: 600px; }
  main .text {
    padding: 1rem; }

  .cta {
    width: 100%; }
    .cta p {
      width: 50%;
      margin: 3rem 5% .5rem;
      display: inline-block; }
    .cta div {
      width: 30%;
      vertical-align: middle;
      margin: 1rem 5% 2.5rem 0; } }
/* Footer styles for screens over 700px */
@media (min-width: 700px) {
  footer {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    footer p {
      padding: 2rem; }
    footer aside {
      padding: 1.5rem; }
      footer aside img {
        width: 3rem;
        padding: .25rem; } }
/* Header styles for screens over 900px */
@media (min-width: 900px) {
  nav ul li {
    font-size: 1.25rem; }
    nav ul li a {
      padding: .75rem 2.5rem .5rem; } }
/* General Content styles for screens over 700px */
@media (min-width: 900px) {
  main h2 {
    font-size: 2.75rem; }

  .cta p {
    width: 40%; }
  .cta div {
    width: 40%; } }

/*# sourceMappingURL=subs.css.map */