$gray: #4a4a4a;
$accent: #d95000;
$overlay: rgba(217, 80, 0, .75);

$body: 'Nunito', sans-serif;
$display: 'Libre Baskerville', serif;

/* Mixin for underlined link styles */
@mixin under-links {
  a {
    color: #4a4a4a;
    text-decoration: underline #d95000 solid;
  }
  a:hover {
    color: #d95000;
    text-decoration: underline #4a4a4a solid;
  }
}

/* Mixin for plain link styles */
@mixin plain-links {
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}

/* Super basic normalize */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Responsive Grid Styles */

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0 0 0 1%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
    margin: 0;
}
.span_11_of_12 {
  	width: 91.58%;
}
.span_10_of_12 {
  	width: 83.16%;
}

.span_9_of_12 {
  	width: 74.75%;
}

.span_8_of_12 {
  	width: 66.33%;
}

.span_7_of_12 {
  	width: 57.91%;
}

.span_6_of_12 {
  	width: 49.5%;
}

.span_5_of_12 {
  	width: 41.08%;
}

.span_4_of_12 {
  	width: 32.66%;
}

.span_3_of_12 {
  	width: 24.25%;
}

.span_2_of_12 {
  	width: 15.83%;
}

.span_1_of_12 {
  	width: 7.416%;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  background-color: white;
  height: 6rem;
  border-bottom: 1px solid $accent;
}

h1 { 
  a {
    text-decoration: none;
    img {
      width: 13rem;
      padding: 1rem 0 0 1rem;
    }
  }
}

nav {
  right: 0;
  .menu {
    position: relative;
    z-index: 5;
    img {
      position: relative;
      z-index: 5;
      max-width: 5rem;
      display: block;
      padding: 1rem;
      margin-left: auto;
    } 
  }
  ul {
    position: absolute;
    top: 0;
    right: 0;
    width: 14rem;
    height: 100vh;
    z-index: 2;
    background-color: white;
    margin-left: auto;
    border-left: 1px solid $gray;
    list-style: none;
    margin: 0;
    padding: 5rem 0 0;
    li {
      line-height: 3rem;
      font-family: $body;
      font-size: 1.25rem;
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      a {
        text-decoration: none;
        display: inline-block;
        color: $gray;
        width: 100%;
        box-sizing: border-box;
        padding: .75rem 1rem;
        &:hover {
          color: white;
          background-color: $accent;
        }
      }
    }
  }
}

/* Hide the Menu */
.hidden {
  display: block;
  right: -100%;
}

/* Show the Menu */
.shown {
  display: block;
  right: 0%;
  animation: slide .25s linear;
}

@keyframes slide {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

/* General Content Styles */

main {
  position: relative;
  margin-top: 6rem;
  h2 {
    font-family: $display;
    font-size: 2.5rem;
    color: white;
    width: 100%;
    text-align: center;
    background-color: $accent;
    padding: 9rem 0 3rem;
    margin: 0;
  }
  .hero {
    width: 100%;
  }
  .text {
    p {
      margin: 1rem;
    }
  }
}

.cta {
  text-align: center;
  p {
    font-family: $body;
    font-size: 1.25rem;
    text-align: left;
    margin: 1.5rem 1.5rem .5rem;
  }
  div {
    width: 60%;
    font-family: $body;
    font-size: 1rem;
    text-align: center;
    color: white;
    display: inline-block;
    background-color: $accent;
    padding: .5rem 1rem;
    border-radius: 1rem;
    margin: 1rem auto 2rem;
    &:hover {
      background-color: $gray;
    }
  }
}

/* Footer Styles */

footer {
  background-color: $accent;
  text-align: center;
  margin-top: 10rem;
  p {
    display: inline-block;
    font-family: $body;
    font-size: .8rem;
    color: white;
    padding: 1rem;
  }
  aside {
    img {
      width: 3rem;
      padding: .25rem .25rem 1rem;
    }
  }
}